*{
    padding: 0;
    margin: 0;
}
body{
    background: #333;
}


iframe{
    width: 100% !important;
    height: 100% !important;
}

a{
    margin: 10px;
    width:40%;
    display: block;

}